
.grid-8{
    grid-template-columns: repeat(8,auto) ;
}

.grid-6{
    grid-template-columns: repeat(6,auto) ;
}

.grid-9{
    grid-template-columns: repeat(9,auto) ;
}

.table-wrapper{
    display: grid;
    min-width: 500px; 
    margin-top: 32px;
    
        .title{
            display: flex;
            background-color: #f1f4f8;
            height: 48px;
            font-family: MontserratBold;
            align-items: center;
        }
        .content {
            height: 48px;
            display: flex;
            align-items: center;
            font-family: Montserrat;
            font-size: 14px;
        }
        .id{
            justify-content: center;
        }
    
}